* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.header {
  min-height: 50px;
  background-color: rgb(126, 123, 123);
  image-resolution: 1500px;
  margin-bottom: 0px;
}
.navbar-inverse {
  border: 0px;
  border-radius: 0px;
}
.logo {
  height: 30px;
  width: 130px;
}
.banner {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.container-banner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  width: 100%;
  min-height: 500px;
  background: url(images/banner\ img-1.jpg) no-repeat center / cover;
}
.left {
  position: relative;
  width: 20%;
  min-height: 300px;
  background-color: rgba(167, 168, 165, 0.568);
  color: rgb(85, 85, 85);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-right: -150px;
}
.left h3 {
  font-size: 30px;
  font-weight: 700;
}
.left p {
  font-weight: 400;
  padding-bottom: 8px;
}
.left a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  letter-spacing: 2px;
}
.left a:hover {
  background-color: rgb(85, 85, 85);
  color: white;
}
@media only screen and (max-width: 856px) {
  .container-banner {
    flex-direction: column;
  }
  .right {
    width: 98%;
    height: 400px;
  }
  .left {
    width: 65%;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
  }
}
.scroll {
  position: sticky;
  top: 0;
  z-index: 1;
}
.top {
  height: 100px;
  width: 100px;
  background-color: rgba(167, 168, 165);
  float: right;
  justify-content: center;
  text-align: center;
  font-size: 38px;
  color: white;
  padding-top: 24px;
  margin-top: -20px;
}
@media only screen and (max-width: 795px) {
  .scroll {
    margin: 0;
  }
  .top {
    margin: 0;
    margin-right: 20px;
    margin-top: -20px;
  }
}
/*
.line{
    width: 80px;
    height: 4px;
    background-color: rgba(167, 168, 165);
    float: left;
    margin-top: 40px;
}
*/
.benefits {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding-left: 20px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.fa-award {
  font-size: 28px;
  padding-top: 25px;
  padding-right: 10px;
}
.fa-award:hover{
    color: blue;
}
.fa-truck {
  font-size: 22px;
  padding-top: 25px;
  padding-right: 10px;
}
.fa-truck:hover{
    color: blue;
}
.fa-check-circle {
  font-size: 24px;
  padding-top: 25px;
  padding-right: 10px;
}
.fa-check-circle:hover{
    color: blue;
}

.qlty {
  display: inline-block;
  font-weight: 600;
}
.qlty-sm {
  padding-left: 35px;
  letter-spacing: 1px;
  line-height: 25px;
}
.ship-sm {
  padding-left: 43px;
  letter-spacing: 1px;
  line-height: 25px;
}
.wrnty-sm {
  padding-left: 40px;
  letter-spacing: 1px;
  line-height: 25px;
}
.bx-1 {
  padding-bottom: 30px;
}
@media only screen and (max-width: 992px) {
  .bx-1 {
    text-align: center;
    margin: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
  .benefits {
    text-align: center;
  }
}
.bx-2 {
  height: 60vh;
  width: 50%;
  background: url(images/2nd\ imge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10px;
}
.bx-3 {
  min-height: 60vh;
  height: auto;
  width: 50%;
  padding-left: 30px;
}
.first {
  letter-spacing: 2px;
  font-weight: bold;
}
.first-sm {
  letter-spacing: 1px;
  font-size: 14px;
}
.yr-bx {
  min-width: 140px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  display: inline-block;
  font-weight: bolder;
}
.awrd-bx {
  min-width: 140px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  display: inline-block;
  font-weight: bolder;
}
.sold-bx {
  min-width: 140px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  display: inline-block;
  font-weight: bolder;
}
.no {
  font-size: 42px;
}
.no-txt {
  font-size: 18px;
}
.no-txt:hover {
  color: rgba(39, 39, 39, 0.856);
}
.btnn {
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid black;
  margin-top: 20px;
  text-transform: uppercase;
}
.btnn:hover {
  background-color: rgb(85, 85, 85);
  color: white;
  transition: 0.3s;
}
@media only screen and (max-width: 990px) {
  .bx-2 {
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bx-3 {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.bx-4 {
  min-height: 76vh;
  height: auto;
  width: 50%;
  padding-right: 30px;
  margin-top: 60px;
}
.circle-1{
  border-radius: 54px;
  padding: 6px 8px;
  background-color: rgb(85, 85, 85);
  display: flex;
  align-content: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: white;
}
.circle-2{
  border-radius: 54px;
  padding: 6px 8px;
  background-color: rgb(85, 85, 85);
  display: flex;
  align-content: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: white;
}
.circle-3{
  border-radius: 54px;
  padding: 6px 8px;
  background-color: rgb(85, 85, 85);
  display: flex;
  align-content: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: white;
}

.text-box {
  padding-bottom: 20px;
}
.text-box-lg {
  display: inline-block;
  padding-left: 8px;
}
.text-box-lg:hover{
    color: rgba(39, 39, 39, 0.829);
}
.text-box-sm {
  padding-left: 50px;
  letter-spacing: 1px;
}
.bx-5 {
  min-height: 76vh;
  height: auto;
  width: 50%;
  padding-left: 30px;
  background: url(images/image3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10px;
}
.img-btn {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px 25px;
    background-color: rgba(85, 85, 85, 0.281);
    color: white;
    text-transform: uppercase;
  }
  .img-btn:hover{
      background-color: rgb(255, 255, 255);
      color: rgba(85, 85, 85);
      color: black;
      border: none;
      transition: .30s;
  }
@media only screen and (max-width: 1200px) {
  .bx-5 {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bx-4{
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
  }
  .circle-2{
    border-radius: 54px;
    padding: 6px 8px;
    background-color: rgb(85, 85, 85);
    display: flex;
    align-content: center;
    justify-content: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 50px;
    color: white;
  }
  .circle-3{
    border-radius: 54px;
    padding: 6px 8px;
    background-color: rgb(85, 85, 85);
    display: flex;
    align-content: center;
    justify-content: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 30px;
    color: white;
  }
  .text-box-sm{
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-right: 80px;
  }
}
.bx-6{
  height: 60vh;
  width: 100%;
}
.pop{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-top: 70px;
}
.box-caro {
  position: relative;
  width: 320px;
  margin: 50px auto 0 auto;
  perspective: 1000px;
}
.caro{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  left: 10px;
  right: 10px;
  background-size: cover;
 
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
}

.carousel__face:nth-child(1) {
  background-image: url("images/int-1.jpg");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("images/int-2.jpg");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("images/int-3.jpg");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("images/int-4.jpg");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("images/int-5.jpg");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("images/int-6.jpg");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("images/int-7.jpg");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("images/int-8.jpg");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("images/int-9.jpg");
  transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
.sub-bx{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.sub-txt-lg{
  text-align: center;
  font-size: 34px;
  letter-spacing: 1px;
}
.sub-txt-sm{
  text-align: center;
  line-height: 1.8;
  letter-spacing: .8px;
  font-size: 400;
  padding: 0 1rem;
}
.email{
  height: 35px;
  min-width: 300px;
  padding-left: 8px;
}
.e-btn{
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background-color: rgba(167, 168, 165);
  border: none;
  font-size: 14px;
}

/*php style subscribe area*/
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  min-width: 300px;
  background: white;
}

/* Style the submit button */
form.example button {
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  background: rgb(149, 150, 147);
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: rgb(149, 150, 147);
  color: white;
  font-weight: 700;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.footer{
  width: 100%;
  height: auto;
  background: rgb(149, 150, 147);
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
.footer-container{
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
.footer-card{
  width: auto;
  height: auto;
  padding: 0 2rem;
}
.footer-txt{
  color: white;
}
.test ul li{
  list-style: none;
}
.test ul li a{
  color: white;

}
.png-img{
  height: 20px;
}  

@media (max-width: 788px) {
  .test{
    font-size: 16px;
    max-width: 250px;
  }
  .test-1{
    display: none;
  }
}